USE [master]
GO
/****** Object:  Database [304-AH-INTER-SERVERII-ANDREA-OSMANY]    Script Date: 3/23/2024 8:41:17 AM ******/
CREATE DATABASE [304-AH-INTER-SERVERII-ANDREA-OSMANY]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'304-AH-INTER-SERVERII-ANDREA-OSMANY', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.YNAMSOSERVER\MSSQL\DATA\304-AH-INTER-SERVERII-ANDREA-OSMANY.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'304-AH-INTER-SERVERII-ANDREA-OSMANY_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.YNAMSOSERVER\MSSQL\DATA\304-AH-INTER-SERVERII-ANDREA-OSMANY_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [304-AH-INTER-SERVERII-ANDREA-OSMANY].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [304-AH-INTER-SERVERII-ANDREA-OSMANY]
GO
/****** Object:  ColumnMasterKey [CMK_Auto1]    Script Date: 3/23/2024 8:41:17 AM ******/
CREATE COLUMN MASTER KEY [CMK_Auto1]
WITH
(
	KEY_STORE_PROVIDER_NAME = N'MSSQL_CERTIFICATE_STORE',
	KEY_PATH = N'CurrentUser/my/40422A0FA492741AF3F55F5B1CB1F2F8B97CBA34'
)
GO
/****** Object:  ColumnEncryptionKey [CEK_Auto1]    Script Date: 3/23/2024 8:41:17 AM ******/
CREATE COLUMN ENCRYPTION KEY [CEK_Auto1]
WITH VALUES
(
	COLUMN_MASTER_KEY = [CMK_Auto1],
	ALGORITHM = 'RSA_OAEP',
	ENCRYPTED_VALUE = 0x016E000001630075007200720065006E00740075007300650072002F006D0079002F0034003000340032003200610030006600610034003900320037003400310061006600330066003500350066003500620031006300620031006600320066003800620039003700630062006100330034001F88C6DD947B4AA85285F8EA91B6DB11691E4DDC12CE7AAC87BEE76548A25DDC9F4F9A4487590CDC13C0680DE8241139ADAA52E994A7FF95096A4873269F3D2F3A984CEDF39F0576BA762A0478878131786A20C62D5753D6588F08F39F66FFEAD6E0012F0DBB93AC70E588B2C3CBC8F172A441DE77FD910FFE9164818C75416BA240AE5677E83011B55D93B9F18688664BB00FF3FE6ED60E466343948B01ECC3B0A59A19E62954D050427CF1EEDBF45C90580A2E36565C4492659D230550A96BBAFC6F7D6AF06B1E6D2B9C5875F3521A0489C68DED39FA41AA2023091E8A520A51AE8BD1D787E6D9197987A33828571D049BB1BB6FFAD081079DAEA28B28F3A379F0344FC61C8D2C4EC4F88422BCBE10BE9F06D0175DE77527A581B518642F2648AEE6A80C90D11C22DCAA3EC097C0AE782FA0DEA12BC6402326C33A0F001EFA41DBB1567C4185B539D2FCAE9500CBFF9EC0AA4191D1140C27C429D814251163BB1EA9E1F5E165AE8FA36D0E0BC3214CDA4EA6E154BCBB8789869955AEA7E592571DA44635E6194A0D3D5AEB34BFF955DFE33D5A427A8199834BBC89B4F5A6B768EF1044EDED1A8F8A5C59A185215CF3866990703720B0675621E274497322D65E8A50CDBAC25B2B4F47034B6BEDB2927CF4063155848D76B90091D79067ED8CECFC9B1D33882810104486EF4A3A0753EE30C61B25B3717CDF84BFA4EA0342F9
)
GO
/****** Object:  Table [dbo].[CLIENT]    Script Date: 3/23/2024 8:41:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENT](
	[idCliente] [int] NOT NULL,
	[nom] [nvarchar](50) NOT NULL,
	[prenom] [nvarchar](50) NOT NULL,
	[password] [nvarchar](50) NOT NULL,
	[userName] [nvarchar](50) NOT NULL,
	[adresseCivique] [nvarchar](50) NOT NULL,
	[ville] [nvarchar](70) NOT NULL,
	[pays] [nvarchar](60) NOT NULL,
	[codePostale] [nvarchar](20) NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[telephone] [nvarchar](12) NOT NULL,
	[documentPayement] [nvarchar](16) NULL,
	[docPTitular] [nvarchar](50) NULL,
	[picture] [nvarchar](150) NULL,
 CONSTRAINT [PK_idClient] PRIMARY KEY CLUSTERED 
(
	[idCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [Unique_clientDocPayement] UNIQUE NONCLUSTERED 
(
	[documentPayement] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [Unique_clientEmail] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [Unique_clientTelephone] UNIQUE NONCLUSTERED 
(
	[telephone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COMMANDE]    Script Date: 3/23/2024 8:41:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMMANDE](
	[idCommande] [int] NOT NULL,
	[productID] [int] NOT NULL,
	[prixUnitaire] [smallmoney] NOT NULL,
	[unitees] [smallint] NOT NULL,
	[factureID] [int] NOT NULL,
 CONSTRAINT [PK_COMMANDE_1] PRIMARY KEY CLUSTERED 
(
	[idCommande] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FACTURE]    Script Date: 3/23/2024 8:41:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FACTURE](
	[idFacture] [int] NOT NULL,
	[numeroCommande] [nchar](10) NOT NULL,
	[dateReception] [date] NOT NULL,
	[dateEstimeeLivraison] [date] NOT NULL,
	[adresseFacturation] [nvarchar](400) NOT NULL,
	[total] [smallmoney] NOT NULL,
	[adresseLivraison] [nvarchar](400) NOT NULL,
	[clientID] [int] NOT NULL,
 CONSTRAINT [PK_COMMANDE] PRIMARY KEY CLUSTERED 
(
	[idFacture] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUIT]    Script Date: 3/23/2024 8:41:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUIT](
	[idProduit] [int] IDENTITY(1,1) NOT NULL,
	[nom] [nvarchar](50) NOT NULL,
	[marque] [nvarchar](150) NOT NULL,
	[categorie] [nvarchar](50) NOT NULL,
	[prix] [smallmoney] NOT NULL,
	[couleur] [nvarchar](50) NULL,
	[taille] [nvarchar](50) NOT NULL,
	[enStock] [smallint] NOT NULL,
	[materiau] [nvarchar](100) NOT NULL,
	[genre] [nvarchar](50) NOT NULL,
	[description] [nvarchar](max) NULL,
	[image] [nvarchar](300) NULL,
 CONSTRAINT [PK_idProduit] PRIMARY KEY CLUSTERED 
(
	[idProduit] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[COMMANDE]  WITH CHECK ADD  CONSTRAINT [FK_COMMANDE_FACTURE] FOREIGN KEY([factureID])
REFERENCES [dbo].[FACTURE] ([idFacture])
GO
ALTER TABLE [dbo].[COMMANDE] CHECK CONSTRAINT [FK_COMMANDE_FACTURE]
GO
ALTER TABLE [dbo].[COMMANDE]  WITH CHECK ADD  CONSTRAINT [FK_COMMANDE_PRODUIT] FOREIGN KEY([productID])
REFERENCES [dbo].[PRODUIT] ([idProduit])
GO
ALTER TABLE [dbo].[COMMANDE] CHECK CONSTRAINT [FK_COMMANDE_PRODUIT]
GO
ALTER TABLE [dbo].[FACTURE]  WITH CHECK ADD  CONSTRAINT [FK_FACTURE_CLIENT] FOREIGN KEY([clientID])
REFERENCES [dbo].[CLIENT] ([idCliente])
GO
ALTER TABLE [dbo].[FACTURE] CHECK CONSTRAINT [FK_FACTURE_CLIENT]
GO
USE [master]
GO
